/* *{
	box-sizing: content-box;
} */

* {
	scroll-behavior: smooth;
  }
body{
	box-sizing: content-box;
	width: 100%;
	background: no-repeat;
}



.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 235px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; 
	margin: 0;
	/* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: block;
		padding: 10px;
		margin: 0;
		/* text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease; */
		/* transition:all 500ms ease;  */
		/* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook {background:#fff;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-youtube {background: #25BB42;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-linkedin {background: #25BB42;}

	.wallpaper{
		background-image: url(images/z-sp_academies.png);
		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;
	}

	.wallpaper-slide{
		background-image: url(images/z-sp_Sponsor.png);
		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;
	}

	#couresel-left{
		Transition: background-image 1s ease 1s;
	}
	
	/* #wallpaper-home{
		background-image: url(images/z-sp_academies.png); 
		background: no-repeat;
		padding-bottom: 11.8%;
		margin: 0;
		display: inline-block;
		flex-flow: column wrap;
		max-width: 100%;
		max-height: auto;
		width: 100%;
		justify-content: center;
		align-items: center;
	} */

.wallpaper-contacto{
	background-color: #000000;
}

.wallpaper-blog{
	background-color: #000000;
}

.suscripcion{
	background-size: cover;
	background-position: center;
	height: 500px;
}

h1, .trans-di{
	color: #25BB42;
}