
body{
	/* box-sizing: content-box; */
	width: 100%;
	background: no-repeat;
}

.color-green{
	color: #25BB42;
}

.color-black{
	background-color: #000000;
}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 235px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; 
	margin: 0;
	/* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: block;
		padding: 10px;
		margin: 0;
		/* text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease; */
		/* transition:all 500ms ease;  */
		/* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook {background:#fff;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-youtube {background: #25BB42;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-linkedin {background: #25BB42;}


.wallpaper-contacto{
	background-color: #000000;
}

/* .wallpaper-blog{

top: 0px; */
/* left: 0px; */
/* width: 100%;
height: 660px; */
/* background: #000000 0% 0% no-repeat padding-box;
opacity: 1;
} */

.suscripcion{
	background-size: cover;
	background-position: center;
	height: 500px;
}

.imgintro{
	top: -150px;
    left: 0px;
    width: 1440px;
    height: 810px;
    opacity: 1;
}

.btnintro {
	top: 577px;
	left: 643px;
	width: 155px;
	height: 50px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 25px;
	opacity: 1;
}

.imgnosotros {
	top: 110px;
left: 610px;
width: 1535px;
height: 700px;
background: transparent url('img/100731626_2973487362745704_3818397973943943168_n.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.general {
	top: 0px;
left: 0px;
width: 1440px;
height: 2894px;
background: #000000 0% 0% no-repeat padding-box;
opacity: 1;
}

/* .container-blog {
	display: flex;
	flex-flow: column;

} */

.imglab {
	top: 74px;
left: 657px;
width: 783px;
height: 587px;
opacity: 1;
}

.probando {
	top: 352px;
left: 165px;
width: 350px;
height: 234px;
border-radius: 10px;
opacity: 1;
}

.footer-triangulo{
	float: left;
	width: 0;
	height: 0;
	/* background-color: #25BB42;
	border-right: 50px solid #FFFFFF;
	border-left: 50px solid #FFFFFF; */
	border-right: 70px solid transparent;
     border-top: 70px solid transparent;
     border-left: 70px solid #25BB42;
     border-bottom: 70px solid #25BB42;
}

 @media(max-width:767px){
	.col-xs-12{width: 100%;}
	.col-xs-6{width: 50%;}
	.col-xs-4{width: 33.33333333%;}
	.col-xs-3{width: 25%;}
}

@media(max-width:1199px) and (min-width:992px){
	.col-md-12{width: 100%;}
	.col-md-6{width: 50%;}
	.col-md-4{width: 33.33333333%;}
	.col-md-3{width: 25%;}

}

.fle {
	display: flex;
	justify-content: end;
}

.bordecuadrado {
	top: 3210px;
left: 392px;
width: 203px;
height: 235px;
border: 2px solid #25BB42;
border-radius: 0px 60px 0px 60px;
opacity: 1;
}

.borderedondo {
	top: 3650px;
left: 165px;
width: 200px;
height: 200px;
border: 2px solid #25BB42;
opacity: 1;
border-radius: 300px 300px 300px 300px;
}

.iconoredondo {
	border-radius: 50px 50px 50px 50px; 
	border: 1px solid white; 
	padding: 3px;
	width: 20px;
	height: 20px;
}

.padding {
	padding: 1% 10%;
}

